<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
    <% if (typeof yoast_head !== 'undefined') {%>
        <%- yoast_head %>
    <%} else {%>
        <title><%= title %></title>
    <%}%>
</head>
<body>
    <header>
        <nav class="closed">
            <a href="/">Voorpagina</a>
            <%
            categories.forEach((category) => {%>
                <a href="/categorie/<%= category.slug %>"><%= category.name %></a>
            <%});%>
        </nav>
        <button class="menu-button" role="button">
            <img class="menu-icon" src="/assets/menu-svgrepo-com.svg" alt="Menu button">
            <img class="close-icon" src="/assets/icons8-close.svg" alt="Close button">
        </button>
        <img class="logo" src="/assets/RedPers_Logo_Cmyk_Black.webp" alt="Red Pers logo">
        <button class="search-button"><img src="/assets/search1-svgrepo-com.svg" alt="Search button"></button>
    </header>