<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <img class="menu-button" src="/assets/menu-svgrepo-com.svg" alt="Menu button"></img>
            <a href="">Voorpagina</a>
            <a href="">Binnenland</a>
            <a href="">Buitenland</a>
            <a href="">Columns</a>
            <a href="">Economie</a>
            <a href="">Kunst & Media</a>
            <a href="">Podcasts</a>
            <a href="">Politiek</a>
            <a href="">Wetenschap</a>
            <a href="">Alumni</a>
            <a href="">Colofon</a>
            <a href="">Over</a>
            <a href="">Meedoen</a>
            <a href="">Contact</a>
            <img class="search-button" src="/assets/search1-svgrepo-com.svg" alt="Search button"></img>
        </nav>
    </header>