<nav>
    <a>Voorpagina</a>
    <a>Binnenland</a>
    <a>Buitenland</a>
    <a>Columns</a>
    <a>Economie</a>
    <a>Kunst & Media</a>
    <a>Podcasts</a>
    <a>Politiek</a>
    <a>Wetenschap</a>
    <a>Alumni</a>
    <a>Colofon</a>
    <a>Over</a>
    <a>Meedoen</a>
    <a>Contact</a>
</nav>