<nav>
    <a>Voorpagina</a>
    <a>Binnenland</a>
    <a>Buitenland</a>
    <a>Columns</a>
    <a>Economie</a>
    <a>Kunst & Media</a>
    <a>Podcasts</a>
    <a>Politiek</a>
    <a>Wetenschap</a>
</nav>