<%- include('./partials/head') %>

    <header>
        <a>ALUMNI</a>
        <a>COLOFON</a>
        <a>OVER</a>
        <a>MEEDOEN</a>
        <a>CONTACT</a>
    </header>
    
    <%- include('./partials/nav') %>

    <main>

    </main>

    <%- include('./partials/footer') %>
