@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;

    button {
        all: unset;
        cursor: pointer;
        img {
            max-width: 1.5rem;
        }
    }

    nav.closed {
        display: none;
    }

    .logo {
        width: 10rem;
    }
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .post {
        border: 1px solid black;
        max-width: 90vw;
    
        .article-link {
            display: block;
            width: 100%;
            border-bottom: 1px solid black;
        }

        img {
            max-width: 100%;
            object-fit: contain;
        }
    }
}
